$main-color: #F22F46;
$secondary-color: #001489;
$primary-color: #0263E0;


.navbar-light .navbar-nav .nav-link.active {
  color: $main-color;
}


.navbar-light .navbar-brand {
  color: $main-color;

  &:hover {
    color: $main-color;
  }
}

.navbar-logo {
  width: 30px;
  height: 30px;

  svg {
    vertical-align: top;
  }

}

.btn-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}